modules = ["nodejs-18", "web", "bash"]
run = "pnpm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "pnpm start"]
build = ["sh", "-c", "pnpm build"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40770704
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
